/*personal changes*/

.page-content {
    padding: $spacing-unit 0;
    background-color: #FFFFF;
}
.site-footer {
	background-color: #FFFFF;
}

hr {
	border-color: #0074D9;
	margin-top: 2em;
	margin-bottom: 2em;
}

.smedia {
    text-decoration: none;
    color: transparent;
    float: left;
}

.smedia:hover{
	color: #517398
}
