/*personal changes*/

hr {
	border-color: #00DDD8;
	margin-top: 2em;
	margin-bottom: 2em;
}

.smedia {
    text-decoration: none;
    color: transparent;
}

.smedia:hover{
	color: #517398
}

.page-content .wrapper .home article p {
	text-align: center;
}
